{:paths ["resources" "src"]

 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        expound {:mvn/version "0.7.2"}
        metosin/spec-tools {:mvn/version "0.10.0"}
        cheshire {:mvn/version "5.9.0"}}

 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "0.10.0"}}}

  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "76568540e7f40268ad2b646110f237a60295fa3c"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}

  :dev {:extra-paths ["dev"]
        :extra-deps {org.clojure/tools.deps.alpha
                     {:git/url "https://github.com/clojure/tools.deps.alpha.git"
                      :sha "148cab8f154711f8495bd632ebdc53a14dff7f09"}}}}}
